$primaryColor: #00bcd4;
$primaryLightestColor: #e0f7fa;
$primaryMenuTextColor: #00838f;
$primaryTextColor: #212121;
$accentColor: #d41900;
$accentTextColor: #ffffff;

@import "../../sass/theme/theme_light";
