$primaryColor: #607d8b;
$primaryLightestColor: #eceff1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #ffffff;
$accentColor: #8b6e60;
$accentTextColor: #ffffff;

@import "../../sass/theme/theme_light";
