.layout-topbar-lime {
  $topbarBgColor: #afb42b;
  $topbarLeftBgColor: #9e9d24;

  $topbarMenuButtonBgColor: #f57c00;
  $topbarMenuButtonTextColor: #212121;

  $topbarItemTextColor: #212121;
  $topbarItemTextHoverBgColor: rgba(0, 0, 0, 0.12);

  @import "../_topbar_exports";
  @import "../_topbar_theme";
}
