.layout-topbar-teal {
  $topbarBgColor: #00796b;
  $topbarLeftBgColor: #004d40;

  $topbarMenuButtonBgColor: #d32f2f;
  $topbarMenuButtonTextColor: #ffffff;

  $topbarItemTextColor: #ffffff;
  $topbarItemTextHoverBgColor: rgba(255, 255, 255, 0.12);

  @import "../_topbar_exports";
  @import "../_topbar_theme";
}
