.layout-topbar-pink {
  $topbarBgColor: #ad1457;
  $topbarLeftBgColor: #880e4f;

  $topbarMenuButtonBgColor: #f9a825;
  $topbarMenuButtonTextColor: #212121;

  $topbarItemTextColor: #ffffff;
  $topbarItemTextHoverBgColor: rgba(255, 255, 255, 0.12);

  @import "../_topbar_exports";
  @import "../_topbar_theme";
}
