.layout-topbar-purple {
  $topbarBgColor: #6a1b9a;
  $topbarLeftBgColor: #4a148c;

  $topbarMenuButtonBgColor: #f9a825;
  $topbarMenuButtonTextColor: #212121;

  $topbarItemTextColor: #ffffff;
  $topbarItemTextHoverBgColor: rgba(255, 255, 255, 0.12);

  @import "../_topbar_exports";
  @import "../_topbar_theme";
}
